.about {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70vw;
    padding: 2em;
}

h2 {
    font-size: 3em;
    margin-bottom: 1.3em;
    
}

p{
    font-size: 1.3em;
}

.img {
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    width: 25%;
    size: 50px;
}
