*{
    margin: 0;
    padding: 0;
}

header{
    height: 230px;
    background-color: #fbcd39;
    display: flex;

}
header h3{
    color: black;
    font-size: 30px;
    font-family:sans-serif;
    margin-left: 15px;
    margin-top: 60px;
}
header h1{
    display: flex;
    align-items: center;
    color: black;
    font-size: 45px;
    font-family:sans-serif;
    margin-left: 140px;
    text-align: center;
}
.pop_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9rem;
}
header nav ul li{
    text-align: center;
    display: block;
    margin-top: 12px ;
    color: black;
    background: white;
    font-size: 25px;
    border: 15px solid white;
    border-radius: 120px;
    margin-left: 70px;
    font-family:sans-serif;
    font-weight: bold;
}
header nav ul li:hover{
    background: #f0f0f0;
    border: 15px solid #f0f0f0;
}
a{
    text-decoration: none;
    color: #000;
}

.logo{
    margin-top: 7px;
    height: 215px;
    margin-left: 72px;
}
.logo2{
    height: 215px;
    margin-left: 105px;
    margin-top: 7px;
}


/* show details div css*/
.inst{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
}
.show{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
#name{
    min-width: 20%;
    min-width: 20%;
    margin-right: 4rem;
    padding: 10px;
    background-color: #F0F0F0;
    border: 2px solid white;
    border-radius: 5px;
}

#UFM{
    min-width: 20%;
    margin-right: 4rem;
    padding: 10px;
    background-color: #F0F0F0;
    border: 2px solid white;
    border-radius: 5px;
}
label{
    font-size: large;
}

.btn{
    min-width: 100px;
    font-size: large;
    padding: 7px;
    background-color: white;
    border: 2px solid orange;
    border-radius: 18px;
}

.btn:hover{
    background-color: orange;
}