*{
    margin: 0;
    padding: 0;
}

header{
    height: 230px;
    width : 100%;
    background-color: #fbcd39;
    display: flex;

}
header h3{
    color: black;
    font-size: 30px;
    font-family:sans-serif;
    margin-left: 15px;
    margin-top: 60px;
}
header h1{
    display: flex;
    align-items: center;
    color: black;
    font-size: 45px;
    font-family:sans-serif;
    margin-left: 140px;
    text-align: center;
}
.pop_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-left: 9rem;*/
}
header nav ul li{
    text-align: center;
    display: block;
    margin-top: 12px ;
    color: black;
    background: white;
    font-size: 25px;
    border: 15px solid white;
    border-radius: 120px;
    margin-left: 50px;
    font-family:sans-serif;
    font-weight: bold;
}
header nav ul li:hover{
    background: #f0f0f0;
    border: 15px solid #f0f0f0;
}
a{
    text-decoration: none;
    color: #000;
}


.logo{
    margin-top: 7px;
    height: 215px;
    /*margin-left: 72px;*/
}
.logo2{
    height: 215px;
    margin-left: 90px;
    margin-top: 7px;
}

/* login css */
.img {
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    max-height: 50vh;
}
h1{
    font-size: 50px;
    font-family: sans-serif;
}
p{
    font-size: 18px;
}
.container {
    margin: auto;
}

.logIn {
    margin: auto;
    margin-top: 2%;
    text-align: center;
}

.logIn p {
    margin-top: 0.6%;
}

form {
    margin-top: 1%;
    margin: 1%;
}
.option>label{   
    margin-right: 9rem;
    font-family: sans-serif;
}
.option>select{
    width: 324px;;
    padding: 15px;
    margin-top:8px;
    margin-left: 15px;
    font-family: sans-serif;
    border-radius:5px;
    background-color:#f0f0f0;
    font-size:15px;
    border: 2px solid white;
}
.email {
    margin: 1%;
}
.email>label {
    margin-right: 16rem;
    font-family: sans-serif;
}
.password>label{
    margin-right: 13.5rem;
    font-family: sans-serif;
}
.cpassword>label{
    margin-right: 8.5rem;
    font-family: sans-serif;
}
label {
    text-align: left;
}

input {
    margin-left: 1rem;
    padding: 15px;
    margin-top: 0.2%;
    width: 296px;
    height: 3.6vh;
    text-align: initial;
    background-color: #f0f0f0;
    border: 2px solid white;
    border-radius: 5px;
}

.login {
    font-size: 20px;
    background-color: #fbcd39;
    cursor: pointer;
    width: 10%;
    border: 2px solid #fbcd39;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

.login:hover {
    background-color: transparent;
    transition-duration: 0.6s;
}
/*Revenue department css*/
table{
    padding: 15px;
    align-items: center;
    border-spacing: 15px;
    background-clip: padding-box;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    
}